<div class="stackTecnologico">
    <h2 class="heading" align="center"><strong>Stack Tecnologico</strong></h2><br>
    <div class="row">
        <div class="columnaStack col-sm-3">
            <h3 class="column_title" id="columna_1">C++</h3>
            <img class="column_img" src="../../../assets/images/stackTecnologico/C++.png" class="d-block" width="100" height="100">
        </div>
        <div class="columnaStack col-sm-3">
            <h3 class="column_title" id="columna_1">C</h3>
            <img class="column_img" src="../../../assets/images/stackTecnologico/C.png" class="d-block" width="100" height="100">
        </div>
        <div class="columnaStack col-sm-3">
            <h3 class="column_title" id="columna_1">Java</h3>
            <img class="column_img" src="../../../assets/images/stackTecnologico/JAVA.png" class="d-block" width="100" height="100">
        </div>
        <div class="columnaStack col-sm-3">
            <h3 class="column_title" id="columna_1">MySQL</h3>
            <img class="column_img" src="../../../assets/images/stackTecnologico/MySQL.png" class="d-block" width="100" height="100">
        </div>
        <div class="columnaStack col-sm-3">
            <h3 class="column_title" id="columna_1">HTML</h3>
            <img class="column_img" src="../../../assets/images/stackTecnologico/HTML.png" class="d-block" width="100" height="100">
        </div>
        <div class="columnaStack col-sm-3">
            <h3 class="column_title" id="columna_1">CSS</h3>
            <img class="column_img" src="../../../assets/images/stackTecnologico/CSS.png" class="d-block" width="100" height="100">
        </div>
        <div class="columnaStack col-sm-3">
            <h3 class="column_title" id="columna_1">JavaScript</h3>
            <img class="column_img" src="../../../assets/images/stackTecnologico/JavaScript.png" class="d-block" width="100" height="100">
        </div>
        <div class="columnaStack col-sm-3">
            <h3 class="column_title" id="columna_1">GitHub</h3>
            <img class="column_img" src="../../../assets/images/stackTecnologico/GitHub.png" class="d-block" width="100" height="100">
        </div>
    </div>
</div>