<div class="educacion">
    <hr>
    <h2 class="heading" align="center"><strong>Educacion</strong></h2><br>
    <div class="formacion_list_item row">
        <img class="formacion_list_img column_img col-sm-3" src="../../../assets/images/educacion/UBP.png" width="120" height="150">
        <div class="col-sm-6">
            <h3 class="formacion_list_title column_title ">Ingenieria Informatica</h3>
            <p class="formacion_list_text">En Curso - 51/55 Materias Completas</p>
            <p>Carrera de grado, donde aprendí a definir, desarrollar y mantener soluciones tecnológicas de software complejo, utilizado metodologías, de alta demanda en el mercado internacional.</p>
        </div>
    </div>
    <div class="formacion_list_item row">
        <img class="formacion_list_img column_img col-sm-3" src="../../../assets/images/educacion/ArgentinaPrograma.png" width="150" height="150">
        <div class="col-sm-6">
            <h3 class="formacion_list_title column_title ">Desarrollador Full Stack Junior</h3>
            <p class="formacion_list_text">En Curso</p>
            <p>Perfil híbrido, multiskill que puede desenvolverse en el front-end, back-end de un desarrollo web.</p>
        </div>
    </div>
    <div class="formacion_list_item row">
        <img class="formacion_list_img column_img col-sm-3" src="../../../assets/images/educacion/ISSD.png" width="150" height="150">
        <div class="col-sm-6">
            <h3 class="formacion_list_title column_title ">Desarrollador Java</h3>
            <p class="formacion_list_text">Completado 2018</p>
            <p>Curso que me permitió dar los primeros pasos en el mundo de la programación.</p>
        </div>
    </div>
</div>