<div class="acercaDeMi">
    <h2 class="headding" align="center"><strong>Acerca de mi</strong></h2>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <img src="../../../assets/images/perfil.jpg" class="imgPerfil">
        </div>
        <div class="col-sm-9">
            <br>
            <p>Argentino del 98, estudiante avanzado de Ingenieria Informatica y 
                aficionado al deporte, con un profundo interés en desempeñarme en el mercado laboral y 
                aprovechar los desafíos que esto me presentaría para aprender y crecer como profesional.
            </p>
            <p>
                A su vez estoy realizando el curso de Desarrollador Full Stack Junior a traves de 
                Argentina Programa y tengo la motivacion necesaria para seguir creciendo en el desarrollo web.             
            </p>
        </div>
    </div>
</div>