<div>
    <a href="https://www.facebook.com/lucasoviedo123/"><img src="../../../../assets/images/facebook.png" class="imagenRedes" id="facebook"></a>
    <a href="https://github.com/Lucasoviedo"><img src="../../../../assets/images/github.png" class="imagenRedes" id="github"></a>
    <a href="https://www.linkedin.com/in/lucas-martín-oviedo-79a012131/"><img src="../../../../assets/images/linkedin.png" class="imagenRedes" id="linkedin"></a>
    <a href="https://www.instagram.com/lucasoviedo/?hl=es"><img src="../../../../assets/images/instagram.png" class="imagenRedes" id="instagram"></a>
</div>