<div class="proyectos">
    <h2 class="heading" align="center"><strong>Mis Proyectos</strong></h2><br>
    <div class="project-container">
        <div class="project-card">
            <div class="project-content">
                <h3 class="project-title">Proyecto 1</h3>
                <p class="project-info">
                    Porfolio Web
                </p>
                <div class="project-btn-grp">
                    <button class="project-btn github"><a
                            href="https://github.com" target="_blank"
                            rel="noopener noreferrer">Repo</a></button>
                </div>
            </div>
        </div>
    </div>
</div>